/* ----------------------------------------------------------------------------------------------------------------------------
== FOLDED CORNERS
** ---------------------------------------------------------------------------------------------------------------------------- */

.icon {
    position:relative;
    padding:1em 1.5em;
    margin:2em auto;
    color:#fff;
    background:#97C02F;
    overflow:hidden;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.icon:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
    border-style:solid;
    border-color:#fff #fff transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
    background:#658E15; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.icon.small{width: 20px;height: 20px;}

.icon.mid{width: 50px;height: 50px;}

.icon.red {background:#C93213;}
.icon.red:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

.icon.blue {background:#53A3B4;}
.icon.blue:before {border-color:#fff #fff transparent transparent; background:transparent;}

.icon.taupe {background:#999868;}
.icon.taupe:before {border-color:#fff #fff #BDBB8B #BDBB8B; background:#BDBB8B;}
 

.icon p {margin:0;}
.icon p + p {margin:1.5em 0 0;}